[submodule "LiveGraph"]
	path = LiveGraph
	url = https://github.com/thu-pacman/LiveGraph.git
[submodule "SuperNova"]
	path = SuperNova
	url = https://github.com/raf212/SuperNova
[submodule "sortledton"]
	path = sortledton
	url = https://gitlab.db.in.tum.de/per.fuchs/sortledton.git
